.loader hr {
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-color: #f6f7f8;
    animation: loader 3s infinite linear;
}
  
@keyframes loader {
    0% {
        background-position: -800px 0px;
    }
    100% {
        background-position: 800px 0px;
    }
}

@media (max-width:600px) {
    .main-bottom-input {
        flex : none;
        width: 150px;
    }

    .main-bottom-img {
        width: 20px;
    }

    .search{
        padding: 5px 10px;
    }
    .search-div{
        gap: 5px;
    }
}